<div class="c-pager">
  <ul class="c-pager__list">
    {{ if .PrevInSection }}
    <li class="c-pager__list__item c-pager__list__item--prev">
      <a class="c-link" href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top"
        title="{{ .PrevInSection.Title }}">&larr; Previous Post</a>
    </li>
    {{ else }}
    <li class="c-pager__list__item c-pager__list__item--prev">
      &#124; End of the line
    </li>
    {{ end }} {{ if .NextInSection }}
    <li class="c-pager__list__item c-pager__list__item--next">
      <a class="c-link" href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top"
        title="{{ .NextInSection.Title }}">Next Post &rarr;</a>
    </li>
    {{ else }}
    <li class="c-pager__list__item c-pager__list__item--next">
      End of the line &#124;
    </li>
    {{ end }}
  </ul>
</div>